dist
node_modules
# Keep .env (needed for local testing)out of version control, but allow .env.test, which is needed for unit tests
/.env

/src/generated/prisma
# JS build artifacts
prisma.config.js

*.log