@if(isRoot()) {
<alert [showIcon]="false" [compact]="true" class="text-xs">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</alert>
}
@else {
<ng-container *ngTemplateOutlet="content"></ng-container>
}

<ng-template #content>
  <div class="flex gap-1 justify-between items-center">
    <div class="flex gap-1">
      @if(isRoot()) {
      @if(isEmptyFilter()) {
      <div class="font-bold">No search filters were applied</div>
      }
      @else {
      <div class="font-bold">Search filter(s) applied:</div>
      }
      }
      <div class="flex gap-1">
        @if (normalizedFilter; as filter) {
        @if (isClause(filter)) {
        <span class="font-medium">
          {{ fieldLabel(filter.field) }}
        </span>

        <span>
          {{ operatorLabel(filter.operator) }}
        </span>

        @if (filter.operator !== 'isNull' && filter.operator !== 'isNotNull') {
        <span>
          {{ formatValue(filter.value) }}
        </span>
        }
        } @else if (isAnd(filter)) {
        @for (child of filter.and; track $index) {
        @if (!$first) {
        <span class="font-medium">AND</span>
        }

        <search-filter-summary [filter]="child" [isRoot]="false" />
        }
        } @else if (isOr(filter)) {

        <span class="mx-1">(</span>

        @for (child of filter.or; track $index) {
        @if (!$first) {
        <span class="font-medium">OR</span>
        }

        <search-filter-summary [filter]="child" [isRoot]="false" />
        }

        <span class="mx-1">)</span>

        }
        }
      </div>
    </div>
    @if(isRoot()) {
    @if(showModifySearchButton()) {
    <button mat-flat-button class="btn-secondary" routerLink="/search">Modify search</button>
    }
    }
  </div>
</ng-template>