@if(publications()?.length) {
<table mat-table [dataSource]="publications()!" [matSortActive]="activeSortField"
  [matSortDirection]="activeSortDirection" matSort matSortDisableClear (matSortChange)="onSortChanged($event)">
  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by author">Author</th>
    <td mat-cell *matCellDef="let element">{{element.originator}}</td>
  </ng-container>

  <!-- Publication Year Column -->
  <ng-container matColumnDef="publication_year">
    <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc" sortActionDescription="Sort by publication year">
      Year</th>
    <td mat-cell *matCellDef="let element">{{element.publication_year}}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">Title</th>
    <td mat-cell *matCellDef="let element"><b>{{element.title}}</b></td>
  </ng-container>

  <!-- Issue Column -->
  <ng-container matColumnDef="issue_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by issue identifier">Issue</th>
    <td mat-cell *matCellDef="let element" class="text-nowrap">
      <!-- 
      <a
        [routerLink]="['/publications', element.publication_guid]">{{element.issue_identification}}</a>
      -->
      {{element.issue_identification}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}