<div class="flex justify-center items-center gap-6 h-14">
  <a href="http://www2.gov.bc.ca/gov/content/home" class="nav-link text-white">Home</a>
  <a href="http://www2.gov.bc.ca/gov/content/about-gov-bc-ca" class="nav-link text-white">About gov.bc.ca</a>
  <a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" class="nav-link text-white">Disclaimer</a>
  <a href="http://www2.gov.bc.ca/gov/content/home/privacy" class="nav-link text-white">Privacy</a>
  <a href="http://www2.gov.bc.ca/gov/content/home/accessibility" class="nav-link text-white">Accessibility</a>
  <a href="http://www2.gov.bc.ca/gov/content/home/copyright" class="nav-link text-white">Copyright</a>
  <a href="https://www2.gov.bc.ca/gov/content?id=7E8B555EA4CE4DBE819217B4527079C7" class="nav-link text-white">Contact
    Us</a>
</div>